@model Zapatilla

 @section Scripts {
     <script>
        $(document).ready(function() {
           //alert("HOLA");
            $("#imagenes").load("/Zapatillas/_DetailsImagenes?idzapa="+@Model.IdProducto);
        })

        function miFuncion(posicion,total){
            //alert("CAMBIO");
            //alert(posicion);
            if (posicion < 1 || posicion > total) {

            } else {
                      $("#imagenes").load("/Zapatillas/_DetailsImagenes?idzapa="+@Model.IdProducto+"&posicion="+posicion);

            }
        }
        
     </script>
 }


<ul class="list-group">
    <li class="list-group-item list-group-item-dark"> @Model.Nombre </li>
    <li class="list-group-item">@Model.Descripcion  </li>
    <li class="list-group-item">@Model.Precio  </li>

</ul>

    <div id="imagenes">

    </div>